.alert {
    &-container {
        width: 100%;
        text-align: center;
        padding: .5rem .2rem;
        background-color: #cce5ff;
        border: 1px solid #b8daff;
        border-radius: 5px;

        &--info {
            background-color: $color-info-bg;
            border: 1px solid $color-info-border;
        }

        &--success {
            background-color: $color-success-bg;
            border: 1px solid $color-success-border;
        }

        &--warning {
            background-color: $color-warning-bg;
            border: 1px solid $color-warning-border;
        }

        &--danger {
            background-color: $color-danger-bg;
            border: 1px solid $color-danger-border;
        }
    }

    &__text {
        color: $color-info-text;

        &--info {
            color: $color-info-text;
        }

        &--success {
            color: $color-success-text;
        }

        &--warning {
            color: $color-warning-text;
        }

        &--danger {
            color: $color-danger-text;
        }
    }
}