.btn {
    padding: 1.5rem;

    &-sm {
        padding: 0.5rem;
    }

    &-whitesome {
        background-color: whitesmoke;

        &:hover {
            background-color: darken(whitesmoke, 5%);
        }
    }
}
