.product {
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        background-color: whitesmoke;
    }
}
