.table {
    width: 100%;
    border-collapse: collapse;

    &__head {
        background-color: rgb(236, 236, 236);
        border: 1px solid rgb(236, 236, 236);

        padding: 0px;

        &-item {
            font-weight: normal;
            padding: 1rem;

            &--wide {
                text-align: left;
                width: 60%;
            }
        }
    }

    &__body {
        &-item {
            padding: 1rem;
            border-right: 1px solid rgb(236, 236, 236);
            border-bottom: 1px solid rgb(236, 236, 236);
            &:first-of-type {
                border-left: 1px solid rgb(236, 236, 236);
            }
        }
    }

    &__item {
        &-container {
            display: flex;
        }

        &-image {
            width: 100%;

            &-container {
                width: 200px;
                background-color: whitesmoke;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 2rem;
        }

        &-qty {
            text-align: center;
        }

        &-subtotal {
            text-align: center;
        }
    }
}
