// COLORS
$color-primary: rgb(45, 41, 38);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-gray: rgb(228, 228, 228);

// FONT SIZE
$default-font-size: 1.3rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
