// COLORS
$color-primary: rgb(45, 41, 38);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-gray: rgb(228, 228, 228); 

// Alert
$color-info-bg: #cce5ff;
$color-info-text: #004085;
$color-info-border: #b8daff;

$color-success-bg: #d4edda;
$color-success-text: #155724;
$color-success-border: #c3e6cb;

$color-warning-bg: #fff3cd;
$color-warning-text: #856404;
$color-warning-border: #ffeeba;

$color-danger-bg: #f8d7da;
$color-danger-text: #721c24;
$color-danger-border: #f5c6cb;

// FONT SIZE
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
