.product-details {
    &-container {
        padding: 2rem 100px;

        @include respond(tab-land) {
            padding: 2rem 15px;
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-around;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        width: 100%;

        &-container {
            width: 50%;
            background-color: whitesmoke;

            @include respond(tab-port) {
                width: 100%;
            }
        }
    }

    &__specifications {
        width: 400px;
        display: flex;
        flex-direction: column;

        @include respond(phone) {
            width: 100%;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__price {
        font-size: 1.8rem;
        font-weight: normal;
    }

    &__brand {
        opacity: 0.7;
        text-align: left;
    }

    &__size,
    &__qty {
        width: 300px;
        align-self: center;
        padding: 10px 15px;
        font-size: 14px;
        border: 1px solid rgba(129, 129, 129, 0.25);

        @include respond(phone) {
            width: 70%;
        }
    }

    &__stock {
        align-self: center;
        padding: 0.5rem 1rem;
        border: 2px solid $color-success-text;
        color: $color-success-text;
    }
}
