*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
}

.container {
    position: relative;
    top: 70px;
    min-height: calc(100vh - 70px);
}
