.text-uppercase {
    text-transform: uppercase;
}

.border-none {
    border: none;
}

.margin-none {
    margin: 0;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.border-r {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.border-l {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}
